
<body>
  <div class="row">
    <div class="col-2" style="background-color: #090131">
      <div style="head">
        <%= cl_image_tag("Group_2_vnmtnk", width: 124, height: 45, style: 'margin-top: 26px; margin-left: 20px;', :cloud_name => cloudname) %>
      </div>
      <div class="req_header">
        <button>+ Open new Req</button>
      </div>
      <%= cl_image_tag("Group_3_qaughh",
        width: 200, height: 31, style: 'margin-left: 20px;') %>
      <div class="list">
        <%= render template: "reqs/home" %>
      </div>
    </div>
    <div class="col-3" style="background-color: #FFFFFF">
      <%= render template: "candidates/home" %>
    </div>
    <div class="col-7">
      <%= render 'shared/navbar' %>
    <div class="row">
      <div class="col-7 mapp">

        <div class="head-msg">
    <div style="margin-left: 30px; margin-top: 5px">
        <%= cl_image_tag @users.first.photo.key, height: 35, width: 35 %>
      <% @users.drop(1).each do |user| %>
        <%= cl_image_tag user.photo.key, height: 35, width: 35, :class => "img_preview"%>
      <% end %>
    </div>
    <div>
      <p style="color: #777581; font-size: 10px; margin-left: 10px ; vertical-align: middle; line-height: 40px"> + Add team members </p>
    </div>
  </div>
<hr>

<div id="messages" data-chatroom-id="<%= @chatroom.id %>">

  <div class="msg-letter">
  <div class="letter-head">
    <div>
      <%= cl_image_tag @users.first.photo.key, height: 35, width: 35, style: "z-index: 1" %>
      <%= cl_image_tag @candidate.photo.key, height: 35, width: 35, style: "margin-left: -10px;" %>
    </div>
    <div class="who">
      <p><%= @users.first.first_name %> <%= @users.first.last_name %></p>
      <small>To : <%= @candidate.first_name %> <%= @candidate.last_name %></small>
    </div>
  </div>
  <hr>
  <div class="conent">
    <textarea id="my-msg" placeholder="Hello <%= @candidate.first_name %>"></textarea>
    <button id="one_way">Start conversation </button>
  </div>
</div>

  <% @messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <small><%= @users.first.first_name %></small>
      </i>
      <div class="msg-div">
      <%= cl_image_tag @users.first.photo.key, height: 35, width: 35 %>
      <p id="msg-content"><%= message.content + " " %></p>
      </div>
    </div>
  <% end %>
</div>
<div class="enter-msg">
  <div class="photo-msg">
      <%= cl_image_tag @users.first.photo.key, height: 35, width: 35 %>
  </div>
  <div class="formulaire">
    <%= simple_form_for [ @candidate, @chatroom, @message ] do |f| %>
    <%= f.input :content, label: false, placeholder: "@ping your team..." %>
  </div>
  <button id="send"><%= f.button :submit, 'Send' %></button>
  <% end %>
</div>
<p id="pose"><i class="fas fa-toggle-on" style="color: black"></i> Internal </p>
    </div>
      <div class="col-5 profile">
        <%= render template: "candidates/profile2" %>
      </div>
    </div>



</body>

<style>

#one_way {
  font-size: 10px;
  width: 150px;
  height: 40px;
  padding: 5px;
  margin-top: 0px;
  margin-left: 260px;
}

#one_way:hover {
  background-color: blue;
}

#send:hover {
  background-color: blue;
}

#my-msg {
  border: none;
  outline: none;
  font-size: 10px;
  width: 100%;
  height: 70px;
  padding: 15px;
  padding-top: 5px;
}

.who {
  padding-top: 10px;
  margin-left: 10px;
}

.letter-head {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  line-height: 3px;

}

.msg-letter {
  background-color: white;
  height: 220px;
  width: 97%;
  border-radius: 5px;
}

.profile {
  background-color: white;
  height: 100vh;
}

#iconn {
  color: #777581;
}

#iconn2 {
  color: black;
}

.navbar-nav {
  font-size: 15px !important;
}

.head-msg {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
}

.img_preview {
  margin-left: -10px;
}

#pose {
  position: relative;
  color: black;
  margin-left: 30px;

}

.photo-msg {
    margin-top: 5px;
}

.form-control {
  height: 40px;
  margin-left: 15px;
  border-radius: 10px;
  margin-top: 5px;
  border-width: 0px;
}

textarea.form-control {
  height: 40px;
  outline: none;
}

small {
  margin-left: 50px;
}

#send {
  width: 150px;
  margin-top: 5px;
  color: white;
  height: 40px;
}

.photo-msg {
  width: fit-content;
}

.formulaire {
  width: 580px;

}

.enter-msg {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}

.msg-div {
  display: flex;
  justify-content: flex-start;

}

#convy {
  color: black;
}


.navbar {
  background-color: #F4F4F4;
  margin-top: 10px;
}

.navbar-nav {
  font-size: 20px;
}

#messages {
  color: black;
}

.nav-link {
  margin-right: 40px;
}

#navbarDropdown {
  margin-left: 100px;
  margin-right: none;
}

#messages {
  height: 540px;
  margin-left: 30px;
  overflow-y: scroll;
}

#msg-content {
  margin-left: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: fit-content;
  height: 40px;
  background-color: #E5E5E5;
  color: #777581;
  font-size: 12px;
  border-radius: 10px;
}

#navbarDropdown {
  margin-left: 330px;
  margin-right: 0px !important;
}

.sent {
  display: none;
}


</style>

<script>
  const but = document.getElementById("one_way");
  const editable = document.getElementById("my-msg");
  but.addEventListener("click", (event) => {
    but.classList.add("sent");
    editable.classList.add("readonly");
  });
</script>
