
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "Geography", map_candidate_path(@candidate), class: "nav-link", id: "mapy" %>
            </li>
            <li class="nav-item">
              <%= link_to "Profile", profile_candidate_path(@candidate), class: "nav-link", id: "profy" %>
            </li>
            <li class="nav-item">
              <%= link_to "Conversation",  candidate_chatroom_path(@candidate, @chatroom), class: "nav-link", id: "convy" %>
            </li>
            <li class="nav-item dropdown">
              <%= link_to "Edit search", "#", class: "nav-link", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "Action", "#", class: "dropdown-item" %>
                <%= link_to "Another action", "#", class: "dropdown-item" %>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <%= cl_image_tag("Line_16_wph4ou",
              width: 840, height: 4) %>

<style>

.navbar {
  background-color: #F4F4F4;
  margin-top: 10px;
}

.navbar-nav {
  font-size: 20px;
}

#messages {
  color: black;
}

.nav-link {
  margin-right: 40px;
}

#navbarDropdown {
  margin-left: 100px;
  margin-right: none;
}

.active {
  color: black;
}

</style>

