
<div class="row">
    <div class="col-2" style="background-color: #090131">
      <div style="head">
        <%= cl_image_tag("Group_2_vnmtnk",
        width: 124, height: 45, style: 'margin-top: 26px; margin-left: 20px;') %>
      </div>
      <div class="req_header" >
        <button>+ Open new Req</button>
      </div>
      <%= cl_image_tag("Group_3_qaughh",
        width: 200, height: 31, style: 'margin-left: 20px;') %>
      <div class="list">
        <%= render template: "reqs/home" %>
      </div>
    </div>
    <div class="col-3" style="background-color: #FFFFFF">
      <%= render template: "candidates/home" %>
    </div>
    <div class="col-7">
      <%= render "shared/navbar" %>

<style>

.req_header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
</style>
      <div class="div-profile">
        <div class="head-profile">
          <div class="id-info"></div>
          <p><%= @candidate.first_name + "" + @candidate.last_name %></p>
        <p><%= @candidate.job %></p>
        <p><%= @candidate.location %></p>
          <div class="stacks-info"></div>
        </div>
        <div class="bio-challenges">
          <div class="candidate_nav">
            <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" id="pills-challenges-tab" data-toggle="pill" href="#pills-challenges" role="tab" aria-controls="pills-home" aria-selected="true">Challenges</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-steps-tab" data-toggle="pill" href="#pills-steps" role="tab" aria-controls="pills-profile" aria-selected="false">Next steps</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-background-tab" data-toggle="pill" href="#pills-background" role="tab" aria-controls="pills-contact" aria-selected="false">Background</a>
            </li>
          </ul>
          </div>
        </div>
        <div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-challenges" role="tabpanel" aria-labelledby="pills-home-tab">
    <p>Hello</p>
  </div>
  <div class="tab-pane fade" id="pills-steps" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
  <div class="tab-pane fade" id="pills-background" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
</div>
        <div class="country-desc">
          <p><%= @candidate.timezone %></p>
          <%= @candidate.country.name %>
        </div>
      </div>
    </div>
</div>

